/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

/* General Style */
body {

}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

@keyframes fadeInDownAnim {
	0% {
	   opacity: 0;
	   transform: translateY(-20px);
	}
	100% {
	   opacity: 1;
	   transform: translateY(0);
	}
 } 

 @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {

}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

.cursor {
	display: none;
}

.selected {
	display: none;
}

.main-button:hover .cursor{
	display: block;
}

.main-button:hover .selected{
	display: block;
}

.main-button:hover .normal{
	display: none;
}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */

save-slot.animated.row__column.row_column--6.row__column--tablet--4.row__column--desktop--3.row__column--desktop-large--2 {
    vertical-align: middle;
    cursor: pointer;
    flex-flow: column;
    justify-content: center;
    color: #fff;
    display: flex;
    height: 268px;
    border-radius: 60px;
    border: 5px solid #FFF;
    background: linear-gradient(347deg, rgba(144, 205, 255, 0.7) 5.85%, rgba(127, 214, 250, 0.7) 92.46%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {
	position: absolute;
    bottom: 0;
    width: 100%;
}

/* Slots Delete Button Style */
[data-component="save-slot"] button {
	background-color: white;
    color: #2E72C1;
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 2;
}

save-slot .badge {
    position: absolute;
    padding: 0.5rem 2rem;
    background: rgba(205, 222, 255, 0.80);
    color: #2E72C1;
    font-style: italic;
    font-weight: 700;
    z-index: 1;
    width: 100%;
    text-align: left;
    top: 65%;
    height: 15%;
    font-size: 22px;
}

save-slot [data-content=background] {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
}

.animated.row__column.row_column--6.row__column--tablet--4.row__column--desktop--3.row__column--desktop-large--2 {
	all: unset;
}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/
[data-screen="game"] {
	animation: fadeIn;
	animation-duration: 500ms;
}

[data-content=visuals] {
	overflow: hidden;
}

/*Message Modal Style*/

.modal__content {
	border-radius: 10px;
	box-shadow: 0px 0px 0px 3px #2E72C1 inset;
    outline: 3px solid #2E72C1;
    border: solid white 3px;
	padding: 2.5% 2.5% 1% 2.5%;
	width: 40%;
}

message-modal [data-ui=message-content] {
    text-align: left;
    max-width: 100%;
    font-family: 'Nunito';
    font-weight: 700;
	color: #2E72C1;
}

h3[data-content="title"] {
    font-family: 'Nunito';
    font-weight: 900;
    color: #2E72C1;
}

message-modal div {
    padding: 0;
}

message-modal p b {
    color: #BD386D;
}

div button[data-close="message-modal"] {
    background: url(../assets/fromfigma/close_button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}

text-input [data-content=message] {
    color: #2E72C1;
    font-weight: 700;
    font-family: 'Nunito';
    margin-top: 0;
}

text-input input {
    background-color: #2E72C1;
    min-width: 50%;
    border-radius: 11px;
    color: white;
    font-size: 36px;
    font-family: 'Nunito';
    font-weight: 700;
	filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
}

text-input form div button {
    background: url(../assets/fromfigma/ok_button.png);
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
	position: absolute;
	left: 12.5%;
    bottom: -300%;
    width: 489.15px;
    height: 93.2px;
}

text-input form div button:hover {
	background-color: transparent;
}

text-input div {
	position: relative;
}

form.modal__content {
    overflow: visible;
	padding: 2.5% 2.5% 2% 2.5%;
}

button:focus {
	border: none;
	background-color: transparent;
}

[data-component="choice-container"] {
	width: 100%;
	top: 45%;
}

/* Choice Buttons style */
[data-component="choice-container"] button {
	margin: 0.5em;
	position: relative;
	padding: 0;
	color: #2e72c1;
	text-align: center;
	font-family: 'Nunito';
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 0.18px;
	border: 3px solid #2E72C1;
	background: white;
}

[data-component="choice-container"] button:before {
	content: '';
	position: absolute;
	z-index: -1;
	background: #2E72C1;
	border: 3px solid white;
	box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {
	color: #E8A0D4;
	border: 3px solid #FD84DC;
	background: #EFF4FF;
}

[data-component="choice-container"] button:hover:before {
	background: linear-gradient(275deg, #7FD6FA 12.42%, #FE82DB 78.53%);
	border: none;
}

/* Text Box styling */
[data-component="text-box"] {
	background-color: transparent;
	min-height: 30%;
	max-height: 40%;
	bottom: 1.5rem;
}

/* Character Name Style */
[data-ui="who"] {
	padding: 0;
}

/* Style for Centered Text */
[data-component="centered-dialog"] {
	color: #FFF;
	font-family: 'Nunito';
	font-size: 2vw;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 3.4px;
	z-index: 1;
	width: 100%;
}

centered-dialog [data-content=wrapper] {
	text-shadow: 3px 3px 0 #2E72C1, -1px -1px 0 #2E72C1, 1px -1px 0 #2E72C1, -1px 1px 0 #2E72C1, 1px 1px 0 #2E72C1, 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 100vw;
    height: 100vh;
	animation: fadeIn;
	animation-duration: 500ms;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
	width: 50vw;
    height: 75%;
    object-fit: contain;
    left: 25%;
    top: 0;
	animation: fadeInDownAnim 500ms linear forwards;
	animation-delay: 0s;
}

.chapter-title {
	font-size: 3vw;
	margin: 0;
}

.chapter-title-wrapper {
	position: relative;
    top: 72%;
    display: inline-block;
}

.chapter-title-wrapper-1 {
	position: relative;
    top: 35%;
	width: max-content;
}

.chapter-title-wrapper-2 {
	position: relative;
    top: 40%;
	width: max-content;
}

.typed {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing;
	animation-duration: 2s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

.typed-1 {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing;
	animation-duration: 0.75s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

.typed-2 {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing;
	animation-duration: 2s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
	animation-delay: 0.75s;
}

.click-to-start {
	opacity: 0;
	position: relative;
    top: 75%;
	font-size: 2vw;
    letter-spacing: 2.72px;
	margin: 0;
	animation: fadeInDownAnim 500ms linear forwards;
	animation-delay: 2.5s;
}

.click-to-continue {
	opacity: 0;
	position: relative;
    top: 55%;
	font-size: 2vw;
    letter-spacing: 2.72px;
	margin: 0;
	animation: fadeInDownAnim 500ms linear forwards;
	animation-delay: 2.75s;
}

/*Log Style*/

[data-content="log"] img.logo-img {
    display: none;
}

[data-content="log"] p.chapter-title {
    font-size: 20px;
}

[data-content="log"] p.click-to-start {
    display: none;
}

[data-content="log"] p.click-to-continue {
    display: none;
}

/* Quit style */
alert-modal.modal .modal__content {
    background-color: #2E72C1;
    box-shadow: none;
    outline: none;
    border-radius: 14px;
}

alert-modal .modal__content p {
    color: white;
}

/* Character Images Styles */
[data-screen="game"] [data-character] {
	bottom: -60%;
	max-height: 150%;
}

[data-screen="game"] [data-character="character_object_atria"] {
	max-height: 175%;
	bottom: -90%;
}

.atria-darken {
	filter: brightness(0.8);
}

[data-screen="game"] [data-character].kyo-left {
	left: 5%;
	right: auto;
}

[data-screen="game"] [data-character].skye-left {
	left: 10%;
	right: auto;
}

[data-screen="game"] [data-character].atria-right {
	left: auto;
	right: 10%;
}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {
	display: none;
}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {
}

input[type=range]::-webkit-slider-runnable-track {
}

input[type=range]:focus::-ms-fill-upper {
}

input[type=range]:focus::-ms-fill-lower {
}

input[type=range]::-moz-range-track {
}

input[type=range]::-ms-fill-lower {
}

input[type=range]::-ms-fill-upper {
}

/** Medium Screens, Phablets (601px) **/
@media screen and (min-width: 37.56255em) {
	/* Styles for the desktop version of the Quick Menu */

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}

/** Medium Devices, Tablets (992px)**/
@media screen and (min-width: 62em) {
	[data-ui="say"] {
		font-size: 20px;
	}

	[data-ui="who"] {
		font-size: 24px;
	}

	[data-component="choice-container"] button {
		height: 56px;
		width: 610px;
		font-size: 26px;
		border-radius: 20px;
	}

	[data-component="choice-container"] button:before {
		height: 56px;
		width: 610px;
		font-size: 26px;
		inset: 6px 14px;
		border-radius: 20px;
	}

	.dialog-box {
		margin-top: 70px;
	}

	.big-bullet-point {
		width: 35px; 
		height: 35px; 
		left: 35px; 
		top: 5px; 
		position: absolute; 
		transform: rotate(45.79deg); 
		transform-origin: 0 0; 
		background: #2e72c1; 
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
		border: 3px white solid;
	}

	.small-bullet-point {
		width: 12px; 
		height: 12px; 
		left: 12px; 
		top: 19.7px; 
		position: absolute; 
		transform: rotate(45.79deg); 
		transform-origin: 0 0; 
		background: #498fcd; 
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
		border: 3px white solid;
	}

	.name-box-shadow {
		width: 300px; 
		height: 50px; 
		left: 8px; 
		top: 15px; 
		position: absolute; 
		background: #76bde0; 
		box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25); 
		border-radius: 30px;
	}

	.name-box {
		width: 300px; 
		height: 50px; 
		left: 0px; 
		top: 5px; 
		position: absolute; 
		background: white; 
		border-radius: 31.3px; 
		border: 4px #478dcc solid;
	}

	.name-box-total {
		left: 30px;
	}

	.quick-menu-button {
		font-size: 18px;
	}

	message-modal [data-ui=message-content] {
		font-size: 18px;
	}
	
	h3[data-content="title"] {
		font-size: 32px;
	}

	div button[data-close="message-modal"] {
		width: 325px;
		height: 65px;
	}

	text-input [data-content=message] {
		font-size: 26px;
	}

	text-input input {
		width: 325px;
		height: 50px;
		font-size: 22px;
	}

	text-input form div button {
		left: 12.5%;
		bottom: -230%;
		width: 322.15px;
		height: 80px;
	}
}

/** HD Screen, Large Devices, Wide Screens, Desktop (1200px) **/
@media screen and (min-width: 75em) {
	[data-ui="say"] {
		font-size: 20px;
	}

	[data-ui="who"] {
		font-size: 24px;
	}

	[data-component="choice-container"] button {
		height: 56px;
		width: 610px;
		font-size: 26px;
		border-radius: 20px;
	}

	[data-component="choice-container"] button:before {
		height: 56px;
		width: 610px;
		font-size: 26px;
		inset: 6px 14px;
		border-radius: 20px;
	}

	.dialog-box {
		margin-top: 70px;
	}

	.big-bullet-point {
		width: 35px; 
		height: 35px; 
		left: 35px; 
		top: 5px; 
		position: absolute; 
		transform: rotate(45.79deg); 
		transform-origin: 0 0; 
		background: #2e72c1; 
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
		border: 3px white solid;
	}

	.small-bullet-point {
		width: 12px; 
		height: 12px; 
		left: 12px; 
		top: 19.7px; 
		position: absolute; 
		transform: rotate(45.79deg); 
		transform-origin: 0 0; 
		background: #498fcd; 
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
		border: 3px white solid;
	}

	.name-box-shadow {
		width: 300px; 
		height: 50px; 
		left: 8px; 
		top: 15px; 
		position: absolute; 
		background: #76bde0; 
		box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25); 
		border-radius: 30px;
	}

	.name-box {
		width: 300px; 
		height: 50px; 
		left: 0px; 
		top: 5px; 
		position: absolute; 
		background: white; 
		border-radius: 31.3px; 
		border: 4px #478dcc solid;
	}

	.name-box-total {
		left: 30px;
	}

	.quick-menu-button {
		font-size: 18px;
	}

	message-modal [data-ui=message-content] {
		font-size: 18px;
	}
	
	h3[data-content="title"] {
		font-size: 32px;
	}

	div button[data-close="message-modal"] {
		width: 325px;
		height: 65px;
	}

	text-input [data-content=message] {
		font-size: 26px;
	}

	text-input input {
		width: 325px;
		height: 50px;
		font-size: 22px;
	}

	text-input form div button {
		left: 12.5%;
		bottom: -230%;
		width: 322.15px;
		height: 80px;
	}
}

/** Full HD Screen, Large Devices, Wide Screens, Large Desktops (1920px) **/
@media screen and (min-width: 120em) {
	[data-ui="say"] {
		font-size: 28px;
	}

	[data-ui="who"] {
		font-size: 30px;
	}

	[data-component="choice-container"] button {
		height: 73px;
		width: 890px;
		font-size: 30px;
		border-radius: 30px;
	}

	[data-component="choice-container"] button:before {
		height: 73px;
		width: 890px;
		font-size: 30px;
		inset: 12.3px 25.4px;
		border-radius: 30px;
	}

	.dialog-box {
		margin-top: 80px;
	}

	.big-bullet-point {
		width: 47.73px; 
		height: 49.5px; 
		left: 47.33px; 
		top: 0px; 
		position: absolute; 
		transform: rotate(45.79deg); 
		transform-origin: 0 0; 
		background: #2e72c1; 
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
		border: 3px white solid;
	}

	.small-bullet-point {
		width: 19.4px; 
		height: 20.12px; 
		left: 14.42px; 
		top: 20.7px; 
		position: absolute; 
		transform: rotate(45.79deg); 
		transform-origin: 0 0; 
		background: #498fcd; 
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
		border: 3px white solid;
	}

	.name-box-shadow {
		width: 385px; 
		height: 62.17px; 
		left: 9.96px; 
		top: 12.83px; 
		position: absolute; 
		background: #76bde0; 
		box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25); 
		border-radius: 30px;
	}

	.name-box {
		width: 385px; 
		height: 62.59px; 
		left: 0px; 
		top: 0px; 
		position: absolute; 
		background: white; 
		border-radius: 31.3px; 
		border: 4px #478dcc solid;
	}

	.name-box-total {
		left: 41px;
	}

	.quick-menu-button {
		font-size: 20px;
	}

	message-modal [data-ui=message-content] {
		font-size: 24px;
	}
	
	h3[data-content="title"] {
		font-size: 40px;
	}

	div button[data-close="message-modal"] {
		width: 428px;
		height: 85px;
	}

	text-input [data-content=message] {
		font-size: 36px;
	}

	text-input input {
		width: 485px;
		height: 82px;
		font-size: 36px;
	}

	text-input form div button {
		left: 12.5%;
		bottom: -300%;
		width: 489.15px;
		height: 93.2px;
	}
}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {
	[data-ui="say"] {
		font-size: 28px;
	}
}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {
	[data-ui="say"] {
		font-size: 28px;
	}
}

/** 5k Screens, Large Devices, Wide Screens (5000px) **/
@media screen and (min-width: 312.5em) {
	[data-ui="say"] {
		font-size: 28px;
	}
}

/** 8k Screens, Large Devices, Wide Screens (8000px) **/
@media screen and (min-width: 500em) {
	[data-ui="say"] {
		font-size: 28px;
	}
}
